mixin buttonSmall(text='click me')
    .button(class=attributes.class)
        button(type='submit').button__submit.button__submit--small= text

mixin buttonTransparent(text='click me')
    .button(class=attributes.class)
        button(type='submit').button__submit.button__submit--transparent 
            span= text

mixin buttonNoBorder(text='click me')
    .button(class=attributes.class)
        button(type='submit').button__submit.button__submit--no-border 
            span= text

mixin buttonBig(text='click me')
    .button(class=attributes.class)
        button(type='submit').button__submit.button__submit--big= text