include ../../components/like-button/like-button.pug

mixin comment(src=require('/assets/images/user.png'), name='Мурад Сарафанов', date='5 дней назад', text='Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', value='12')
    .comment(class=attributes.class) 
        .comment__user
            img.comment__image(src=src alt="murad-sarafanov")
            +like(value)(class='comment__like')  
        .comment__info
            span.comment__name= name
            span.comment__date= date   
            p.comment__text= text