mixin slider()
    .slider(class=attributes.class)
        .slider__container
            .slider__main
                img(src=require('./assets/images/room888.jpg') alt="alt").slider__image
                img(src=require('./assets/images/room840.jpg') alt="alt").slider__image
                img(src=require('./assets/images/test.jpg') alt="alt").slider__image
                img(src=require('./assets/images/test2.jpg') alt="alt").slider__image

            
            .slider__arrow.slider__arrow--left

            .slider__arrow.slider__arrow--right

        .slider__buttons
            span.slider__buttons-dots 
            span.slider__buttons-dots 
            span.slider__buttons-dots 
            span.slider__buttons-dots 